.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
}

.sidemenu {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  transform: translateY(-100%) rotate(90deg);
  transform-origin: 0 100%;
  z-index: 100;
}

.main_contents {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
