.container {
  margin-bottom: 5rem;
  text-align: center;
}

.pagetitle {
  margin-bottom: 1rem;
  font-family: var(--title-font);
  font-size: 2rem;
  letter-spacing: 0.04rem;
  white-space: nowrap;
}

.underline {
  margin: auto;
  width: 60px;
  height: 2px;
  background: var(--accent-color);
}
