.container {
  padding: 30px;
}

.link {
  margin-right: 24px;
  font-family: 'AsagoHonmaruGothic', YuGothic, 'Yu Gothic';
  font-size: 16px;
  letter-spacing: 0.2px;
  color: #b0c0ce;
  text-decoration: none;
}

.title {
  font-size: 24px;
  color: #839d9a;
}
