.page {
  position: relative;
  text-align: center;
  backdrop-filter: blur(10px);
}

.contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.experience {
  padding: 0 40px;
  width: 540px;
  font-family: var(--normal-font);
  color: var(--font-color);
  text-align: left;
}

.skill {
  padding: 0 40px;
  width: 540px;
  font-family: var(--normal-font);
  color: var(--font-color);
  text-align: left;
}

.border {
  width: 1px;
  background: var(--main-color-light);
}
