$page-padding: calc(80px * 2);

.page {
  text-align: center;
  background-color: var(--font-color);
}

.works {
  display: inline-flex;
  flex-wrap: wrap;
}

.work {
  position: relative;
  display: inline-block;
  background: #fff;
  overflow: hidden;

  .background,
  .caption {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .background {
    position: relative;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .thumbnail,
  .thumbnailHover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.4s;
  }

  .thumbnailHover {
    opacity: 0;
  }

  &:hover .thumbnail {
    opacity: 0;
  }

  &:hover .thumbnailHover {
    opacity: 1;
  }

  .caption {
    padding: 12px;
    z-index: 2;
    top: 100%;
    right: 0;
    bottom: 100%;
    left: 0;
    background-color: var(--font-color);
    opacity: 0.75;
    font-family: var(--normal-font);
    font-size: 16px;
    color: #fff;
    text-align: left;
    transition: all 0.4s ease-out;
  }

  &:hover .caption {
    top: 0;
    bottom: 0;
  }

  .title {
    font-weight: bold;
  }

  .discription,
  .skills {
    font-size: 85%;
  }

  .discription {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 576px) {
  .works {
    width: calc(576px - #{$page-padding});
  }

  .work {
    width: 188px;
    height: 188px;
    margin: 0 10px 20px 10px;
  }
}

@media (min-width: 768px) {
  .works {
    width: calc(768px - #{$page-padding});
  }

  .work {
    width: 186px;
    height: 186px;
    margin: 0 8px 16px 8px;
  }
}

@media (min-width: 992px) {
  .works {
    width: calc(992px - #{$page-padding});
  }

  .work {
    width: 188px;
    height: 188px;
    margin: 0 10px 20px 10px;
  }
}

@media (min-width: 1200px) {
  .works {
    width: calc(992px - #{$page-padding});
  }
  .work {
    width: 188px;
    height: 188px;
    margin: 0 10px 20px 10px;
  }
}
