@keyframes test {
  0% {
    background: #9ddcdc;
  }
  50% {
    background: #f0e68c;
  }
  100% {
    background: #9ddcdc;
  }
}

.background {
  position: fixed;
  animation: test 15s ease 0.5s infinite forwards;
  /* filter: blur(2.5px) brightness(90%) contrast(150%); */
  overflow: hidden;
}
